#reportForm {
  .close-icon {
    text-align: right;
  }
  .form-input-wrap {
    display: flex;
    flex-direction: column;

    .field-wrap {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
    .error-text {
      color: red;
      text-align: center;
    }

    input {
      margin: 10px;
      border: 0.5px solid gray;
      padding: 10px;
      width: 205px;
    }
    .text-name {
      padding: 6px;
      width: 50px;
      text-align: center;
    }
    .submit-btn {
      padding: 5px;
      margin: 8px;
      background-color: #007bff;
      color: white;
      font-size: 20px;
    }
    .select-wrap {
      margin-bottom: 10px;
      select {
        padding: 7px;
        min-width: 228px;
        margin-left: 9px;
      }
    }
  }
}

.plus-icon-wrap {
  color: #007bff;
  bottom: 0;
  position: fixed;
  margin-right: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  right: 0;
  svg {
    width: 50px;
    height: 45px;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    right: 30%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

}
